@import "reset";
@import "mixin";
@import "library";
@import "component";

$bord-color: #e5e7ea;
$primary: #1e87f0;

:root {
  --mk-header: 100%;
  --toolbar-top: 0;
  --toolbar-width: 100%;
  --pg-container-witdh: 100vh;
  --font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, sans-serif !important;
}

body, html {
  font-family: var(--font-family);
}

//#pg-toolbar-container {
//  top: var(--toolbar-top);
//  width: var(--toolbar-width);
//}


.fr-toolbar .fr-btn-grp {
  display: flex !important;
}

.initiate-header-wrapper {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  height: 50px;
  border-bottom: 1px solid $bord-color;

  .pg-header-return-back {
    display: flex;
    align-items: center;

    .fa-angle-left {
      font-size: 22px;
      margin-right: 5px;
      margin-top: -2px;
      color: #1e87f0;
    }
  }


  .dropdown-container {
    width: 320px;
    line-height: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #ebeef5;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.10);
  }

  .dropdown-header {
    width: 170px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
  }

  .uk-divider-small::after {
    width: 100%;
  }

  .param-list {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
  }

  .param-list span {
    color: #4c596e;
    position: relative;
    cursor: pointer;
  }

  .param-list span:hover {
    color: #2489f2;
  }

  .param-list span .is-required {
    padding-left: -8px;
    content: "*";
    color: #ed521f;
    position: absolute;
  }

  .send-disabled {
    cursor: not-allowed;
  }
}

.pg-container {
  display: flex;
  flex-direction: column;
  height: var(--pg-container-witdh);
  font-size: 14px;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
  background-color: #f7f8f8;
  font-family: var(--font-family);

  .pg-mk-header-wrapper {
    @include MHeader;
    position: fixed;
    z-index: 9999;
    width: var(--mk-header);

    .pg-return-back {
      width: 45px;
      color: $primary;
      cursor: pointer;

      .fa {
        font-size: 22px;
        padding-right: 5px;
      }
    }
  }

  .pg-editor-container {
    min-width: 810px;
    max-width: 810px;
    margin: 20px auto;
    height: 810px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    border-radius: 0 !important;
  }

  //.initiate-container {
  //  //margin-top: 66px;
  //}

  input:invalid {
    border-color: #f56c6c;
  }
}


::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, 0.1);
}

:focus:not([tabindex^='-']) {
  outline: none;
}

.fr-box.fr-basic .fr-element:focus-visible {
  outline: none;
}


.fr-second-toolbar {
  display: none;
}

/*工具栏按钮宽度自适应*/
//.fr-toolbar .fr-command.fr-btn {
//  width: auto !important;
//}
//
///*图标宽度自适应*/
//.fr-toolbar .fr-command.fr-btn i {
//  width: auto !important;
//}

.fr-toolbar.fr-top {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0;
  text-align: center;
  box-shadow: 0 3px 8px #00000026;
  background-color: transparent;
}


.fr-wrapper {
  border: none !important;
}

.pg-editor-body-container {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 42px);

  .pg-html-panel-params {
    @include htmlPanel;
  }

  /*parameter-样式*/
  .pg-parameter-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 3px;
    flex-direction: row;

    .pg-param-item {
      width: 25%;
      height: 54px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 13px;
      color: #4c596e;
      cursor: pointer;
      user-select: none;
      line-height: 28px;

      &:hover {
        background: #e5e7ea;
      }
    }
  }
}

.pg-accordion-wrapper {
  .pg-accordion-title {
    color: #333;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #ebeef5;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    user-select: none;

    i {
      font-size: 20px;
    }
  }

  .pg-accordion-content {
    height: 100%;
    margin-top: 10px;
    overflow-y: auto;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .disabled {
    color: #bbb;
    cursor: not-allowed;
  }
}

.document-update-time {
  font-size: 12px;
}

.pg-edit-item-wrapper {
  text-align: left;
  padding-bottom: 40px;
  overflow-y: auto;

  .parameter-instruction {
    margin-bottom: -2px;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 10px;
    color: #f0a128;
    background-color: #F8EDD5;
    border-radius: 4px;
  }

  .uk-accordion-content {
    margin: 0 0 10px 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #F8EDD5;
    border-radius: 4px;
  }
}

.description-container {
  li {
    color: #7f8997;
    font-size: 12px;
    line-height: 25px;

    &:before {
      content: "";
      margin-right: 8px;
      margin-bottom: 2px;
      width: 6px;
      height: 6px;
      border-radius: 50px;
      display: inline-block;
      background: #7f8997;
    }
  }
}

.uk-flex-align-items {
  align-items: center;
}

.bottom {
  border-bottom: 1px solid;
}

.borderAll {
  padding: 0 8px;
  border: 1px solid;
}

.cursor {
  cursor: pointer;
  user-select: none;
}


.select-table-container {
  width: 180px !important;
  font-size: 12px;

  &[class*=uk-drop-bottom] {
    margin-top: 0 !important;
  }

  .select-table {
    min-width: 196px;
    padding: 10px 18px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    user-select: none;
    border: 1px solid #ebeef5;
    border-radius: 4px;
    text-align: justify;

    .pg-text-panel {
      padding-bottom: 5px;
    }
  }

  .pg-table-selector-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-width: 160px;
    max-width: 160px;

    .pg-row-col-item {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 1px;
      background-color: rgba(0, 0, 0, .04);
      border: 1px solid rgba(0, 0, 0, .06);
      border-radius: 1px;
      transition: all ease-in-circ .3s;
      cursor: pointer;

      &.is-active-col {
        background-color: #ffffff;
        border-color: #2489f2;
      }
    }
  }
}

.pg-modal-custom-col {
  font-size: 14px;
}

.custom-row-col {
  font-size: 12px;
}

.pane-params-container {
  width: 98%;

  &[class*=uk-list] > ::before {
    width: 0 !important;
  }


  .panel-param-item {
    position: relative;
    padding: 7px 8px;
    margin-top: 16px;
    color: #7f8997;
    background-color: #f2f3f4;
    border: 1px dashed #c1c6cd;
    border-radius: 4px;
    transition: all .2s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.is-active {
      border-color: #2489f2;
    }

    &:hover {
      cursor: pointer;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
      transition: all .2s ease-in;

      .pane-params-close {
        opacity: 1;
      }
    }

    .pane-params-name {
      text-align: left;
      flex: 1;
      word-break: break-all;
    }

    .pane-params-close {
      color: #c1c6cd;
      position: absolute;
      top: -9px;
      right: -7px;
      width: 20px;
      font-weight: bold;
      opacity: 0;

      &:hover {
        color: #ed521f;
      }

      .fa-times-circle {
        font-size: 18px;
      }
    }

    .required {
      &:before {
        color: #f0a128;
        content: "*";
        padding-right: 4px;
      }
    }
  }
}

.uk-notification-message-danger {
  width: 380px !important;
  font-size: 14px;
  font-weight: normal !important;
  background-color: #fef0f0;
  color: #f56c6c;
  border-radius: 3px;
  border: 1px solid #fde2e2;
  padding: 10px 20px 10px 20px;
  box-shadow: inset 0 0 0 1px #fef0f0;

  .uk-notification-close {
    top: 13px;
  }
}

.pg-header-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 21px;

  .title {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
  }
}

.fill-in-container {
  user-select: none;
  min-width: 320px;
  max-width: 320px;
  //height: 100vh;
  position: relative;
  right: 0;
  //top: 48px;
  bottom: 0;
  padding: 10px 24px 0 16px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #e5e7ea;
  background-color: #F7F8F8;
  font-size: 12px;
  overflow-y: auto;

  div > * {
    cursor: pointer;
  }

  .uk-form-icon {
    &:before {
      display: inline-block;
      padding: 9px 15px;
    }
  }

  .is-active {
    color: #2489f2;
  }

  .uk-scroll-a {
    display: inherit;
  }
}

.is-required {
  &:before {
    color: #ed521f;
    content: "*";
    padding-right: 4px;
  }
}

.trip-text {
  font-size: 18px;
  user-select: none;
}

.fr-view img.fr-dii {
  object-fit: scale-down;
}

.margin-btm {
  line-height: 23px;
  display: flex;
  flex-direction: column;
}

.upload-wrapper {
  position: relative;
}

.image-upload-container {
  text-align: center;
}

.image-container {
  height: 180px;
  border: 1px solid #e5e7ea;
  border-radius: 4px;
  padding: 3px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  width: 121px;
  margin-right: 10px;
}

.remove-image-btn, .reset-upload-btn {
  width: 121px;
}

.remove-image-btn {
  position: absolute;
  left: 14px;
  bottom: 0;
  z-index: 99;
}

.reset-upload-btn {
  margin-top: 10px;
}

.image-container img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  border: 0;
}

.uk-scroll-a {
  outline: none;
  text-decoration: none !important;
}

.fr-popup {
  transition: all .3s;
}

.is-visible {
  display: inline-block !important;
}

.pg-image-popup-container {
  display: none;

  .image-popup-container {
    width: 320px;
    max-width: 320px;
    height: 120px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
    border-radius: 2px;
    box-sizing: border-box;
    user-select: none;
    margin-top: 10px;
    border-top: 5px solid #222;
    position: fixed;
    z-index: 999;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .fr-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #222;
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -5px;
    display: inline-block;
  }

  .upload-wrapper {
    cursor: pointer;
    width: 100%;
    position: relative;
  }

  .upload-wrapper input {
    cursor: pointer;
  }

  .uk-form-custom {
    width: 320px;
    height: 95px;
    cursor: pointer;
    line-height: 100px;
    border: 2px dashed #e5e5e5;
    position: relative;
  }
}

.pg-dialog-container {
  font-size: 14px;

  .uk-modal-dialog {
    width: 370px !important;
    top: 32% !important;
    padding: 0 15px 15px 15px;
  }

  .uk-modal-title {
    font-size: 20px;
    line-height: 2.3;
  }

  .dialog-button-container {
    margin-top: 10px;
  }
}

.pg-custom-select-container {
  position: fixed;
  z-index: 999;
}

.pg-select-container {
  position: relative;
  background: #FFFFFF;
  box-sizing: border-box;
  display: none;
  font-size: 13px;
  padding: 4px 0;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.10);
  border: 1px solid #e4e7ed;
  max-height: 215px;
  overflow: auto;

  .option-item {
    padding: 8px 10px;
    cursor: pointer;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .is-active {
    color: #2489f2;
  }
}

//.option-item.is-active::after {
//  content: "✔";
//  position: absolute;
//  right: 10px;
//}

.pg-select-container li:hover {
  background-color: #f5f7fa;
}

.visible {
  display: block;
}

.control-size-container {
  line-height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.completion-content {
  padding-bottom: 5px;
  //display: flex;
  //align-items: center;
  //flex-wrap: wrap;

  i {
    font-size: 15px;
    padding-right: 3px;
  }
}

.parameter-instruction::before {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAK5JREFUOE9jZKAQMFKon4E2Bryfr+HAyMSYJRB/PYyQC3G64P18jQYGJgZjwfgbvvgMwesFkCGMTAzeAvE3THEZQjAMoIYkC8TfkMVmCEEDQJqghlQLxN9gRTeEKAM+LlRf8f8/40WBhBvtJBvwYYH6SkYGhqP8CTcnkeyFDws1V/7/9/+6YOKNBpIDkRjNIEOxhgEoITEwMDjgsxnmIqICkeyERCgZ4/QCMRphagCT8jQRJ834nwAAAABJRU5ErkJggg==');
}

.uk-open > .parameter-instruction::before {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAI5JREFUOE9jZKAQMFKon2G4GfBhocZ/gfgbeL31YaHGmf//GEoEE28cAIUfiuL3C9XzGRkYJ+AyBKSZkYFhM3/8jUZY4GPYhssQbJoxXAAzFd0QkGYGRoazAnE30tGjHad/PyzQKGFgZOhmYGA4i0szThfAbPm4SLPmP8N/WWw24wwDUlPmcEuJpPofpB4AWV8yETIez84AAAAASUVORK5CYII=");
}

.pg-table-container {
  cursor: pointer;
}

.add-option {
  display: inline-block;
  margin-right: 5px;
  color: #666666;
}
