@import "reset";
@import "mixin";
@import "library";

$bord-color: #e5e7ea;
$primary: #1e87f0;

.pg-container {
  height: 100vh;
  font-size: 14px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #f7f8f8;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, sans-serif;

  .pg-mk-header-wrapper {
    @include MHeader;

    .pg-return-back {
      width: 45px;
      color: $primary;
      cursor: pointer;

      .fa {
        font-size: 22px;
        padding-right: 5px;
      }
    }
  }

  .pg-editor-container {
    width: 818px;
    margin: 20px auto;
    height: 810px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    border-radius: 0 !important;
  }
}


::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, 0.1);
}

:focus:not([tabindex^='-']) {
  outline: none;
}

.fr-box.fr-basic .fr-element:focus-visible {
  outline: none;
}

a[href='https://www.froala.com/wysiwyg-editor?k=u'] {
  font-size: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  display: none !important;
}

.fr-second-toolbar {
  display: none;
}

.fr-toolbar.fr-top {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0;
  text-align: center;
  box-shadow: 0 3px 8px #00000026;
  background-color: transparent;
}

.fr-wrapper {
  border: none !important;

  > div[style*='z-index: 9999'] {
    position: absolute !important;
    top: -10000px !important;
    opacity: 0 !important;
    display: none !important;
  }
}


.pg-flex {
  display: flex;
  align-items: center;
}

.pg-button {
  color: #ffffff;
  border: 1px solid $primary;
  background: #ffffff;
  overflow: visible;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .1s ease-in-out;
  transition-property: color, background-color, border-color;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $primary;
  }
}


.pg-editor-body-container {
  display: flex;
  justify-content: space-between;

  .pg-html-panel-params {
    @include htmlPanel;
  }

  /*parameter-样式*/
  .pg-parameter-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 3px;
    flex-direction: row;

    .pg-param-item {
      width: 25%;
      height: 54px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 13px;
      color: #4c596e;
      cursor: pointer;
      user-select: none;
      line-height: 28px;

      &:hover {
        background: #e5e7ea;
      }
    }
  }
}

.pg-accordion-wrapper {
  .pg-accordion-title {
    color: #333;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #ebeef5;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    user-select: none;

    i {
      font-size: 20px;
    }
  }

  .pg-accordion-content {
    height: 100%;
    margin-top: 10px;
    overflow-y: auto;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .disabled {
    color: #bbb;
    cursor: not-allowed;
  }
}

.document-update-time {
  font-size: 12px;
}

.pg-edit-item-wrapper {
  text-align: left;
  padding-bottom: 40px;
  overflow-y: auto;
}

.uk-flex-align-items {
  align-items: center;
}

.bottom {
  border-bottom: 1px solid;
}

.borderAll {
  padding: 0 8px;
  border: 1px solid;
}

.cursor {
  cursor: pointer;
  user-select: none;
}


.select-table-container {
  width: 180px !important;
  font-size: 12px;

  &[class*=uk-drop-bottom] {
    margin-top: 0 !important;
  }

  .select-table {
    min-width: 196px;
    padding: 10px 18px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    user-select: none;
    border: 1px solid #ebeef5;
    border-radius: 4px;
    text-align: justify;

    .pg-text-panel {
      padding-bottom: 5px;
    }
  }

  .pg-table-selector-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 160px;

    .pg-row-col-item {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 1px;
      background-color: rgba(0, 0, 0, .04);
      border: 1px solid rgba(0, 0, 0, .06);
      border-radius: 1px;
      transition: all ease-in-circ .3s;
      cursor: pointer;

      &.is-active-col {
        background-color: #ffffff;
        border-color: #2489f2;
      }
    }
  }
}

.pg-modal-custom-col {
  font-size: 14px;
}

.custom-row-col {
  font-size: 12px;
}

.pane-params-container {
  width: 98%;

  &[class*=uk-list] > ::before {
    width: 0 !important;
  }


  .panel-param-item {
    position: relative;
    padding: 7px 8px;
    margin-top: 16px;
    color: #7f8997;
    background-color: #f2f3f4;
    border: 1px dashed #c1c6cd;
    border-radius: 4px;
    transition: all .2s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.is-active {
      border-color: #2489f2;
    }

    &:hover {
      cursor: pointer;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
      transition: all .2s ease-in;

      .pane-params-close {
        opacity: 1;
      }
    }

    .pane-params-name {
      text-align: left;
      flex: 1;
      word-break: break-all;
    }

    .pane-params-close {
      color: #c1c6cd;
      position: absolute;
      top: -9px;
      right: -7px;
      width: 18px;
      font-weight: bold;
      opacity: 0;

      &:hover {
        color: #ed521f;
      }
    }

    .required {
      &:before {
        color: #f0a128;
        content: "*";
        padding-right: 4px;
      }
    }
  }
}

.uk-notification-message-danger {
  width: 380px !important;
  font-size: 14px;
  font-weight: normal !important;
  background-color: #fef0f0;
  color: #f56c6c;
  border-radius: 3px;
  border: 1px solid #fde2e2;
  padding: 10px 20px 10px 20px;
  box-shadow: inset 0 0 0 1px #fef0f0;

  .uk-notification-close {
    top: 13px;
  }
}

.pg-header-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 21px;

  .title {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
  }
}

.fill-in-container {
  user-select: none;
  width: 320px;
  max-width: 320px;
  position: absolute;
  right: 0;
  top: 48px;
  bottom: 0;
  padding: 10px 24px 0 16px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #e5e7ea;
  background-color: #F7F8F8;
  font-size: 12px;
  overflow-y: auto;

  div > * {
    cursor: pointer;
  }

  .uk-form-icon {
    &:before {
      display: inline-block;
      padding: 9px 15px;
    }
  }

  .is-active {
    color: #2489f2;
  }
}

.is-required {
  &:before {
    color: #ed521f;
    content: "*";
    padding-right: 4px;
  }
}

.trip-text {
  font-size: 18px;
  user-select: none;
}

.fr-view img.fr-dii {
  object-fit: scale-down;
}
